{% extends 'layout.html' %}
{% block body %}
<header class="v-header container">

  <!-- -->
  <div class="fullscreen-video-wrap">
    <video src="static/media/typing.mov" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay"></div>

  <div class="header-content container-fluid">
    <h1 class="display-1 text-center" id="typewriter">Welcome to the</h1>
    <h1 class="display-1 text-center mr-4 pr-4">><span class="blink">_</span>Coding Club.</h1>
    <a href="#" class="btn mt-4"> Learn More </a>
  </div>
</header>

<section class="section section-1">
  <div class="container">
    <h1>Section 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section class="section section-2">
  <div class="container">
    <h1>Section 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>


{% endblock %}
